{{ $quotes := dict }}
{{ $path := "static/quotes.json" }}
{{ with resources.Get $path }}
  {{ with . | transform.Unmarshal }}
    {{ $quotes = . }}
  {{ end }}
{{ else }}
  {{ errorf "Unable to get global resource %q" $path }}
{{ end }}
{{ $quoteCount := len $quotes }}
{{ $random := index .Site.Data.random 0 }}
{{ $quoteIndex := div (mul (len $quotes) $random) 1000 }}
{{ $motd := index $quotes $quoteIndex }}
<blockquote style="margin: 1.5em;">{{ $motd.quote }}</blockquote>
&nbsp;&nbsp;&nbsp;&nbsp;&mdash;&nbsp;<cite>{{ $motd.citation }}</cite>
